* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  padding: 0 10% 5%;
  min-height: 100vh;
  background-image: url("background_IMG_Avengers.jpg");
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
}


.header {
  margin: 5%;
  text-align: center;
  border: 1px solid black;
  border-radius: 2000px 100px 700px 1000px;
  font-size: 70px;
  background-color: rgba(217, 149, 232, 0.4);
  color: rgb(250, 52, 52, 0.9);
}

.nav-bar {
  text-align: center;
  margin: 20px;
  margin-top: 0px;
  padding-bottom: 60px;
  padding-top: 40px;
}

.nav-component {
  padding: 5px 10px;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 140%;
  border: 1px solid black;
  border-radius: 100px 200px 100px 60px;
  
  box-shadow: inset 0 0 0 0 blue;
  transition: ease 0.3s;
}

.nav-component:hover {
  color: white;
  box-shadow: inset 0px 0px 10px 20px rgb(105, 0, 131);
}

.nav-component:active {
  box-shadow: none;
  transition: none;
  background-color: black;
  color: white;
}

.content {
  flex-grow: 1;
  background-color: rgb(0, 255, 255, 0.7);
}

.footer {
  height: 80px;
  background-color: rgb(128, 255, 0, 0.7);
}


.AboutUsContent ul, ol {
  margin-left: 10%;
}

#AboutUsTitle {
  text-align: center;
  padding-bottom: 5%;
  margin-top: 3%;
  font-size: 60px;
}


li {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2%;
  font-size: large;
}

.UserImg {
  height: 300px;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
